// TODO: break this up into smaller files per component

@import 'vanilla-framework';
@include vanilla;
@include vf-base;
@include vf-p-grid;
// categories
@include vf-p-tabs;
// buttons
@include vf-p-buttons;
@include vf-p-icons-common;
// context menu
@include vf-p-contextual-menu;
// filter and search
@include vf-p-chip;
@include vf-p-search-box;
@include vf-p-search-and-filter;
@include vf-u-off-screen;
// lists
@include vf-p-list-placeholders;
@include vf-p-list;
@include vf-p-list-divided;
@include vf-p-list-item-state;
@include vf-p-inline-list;
@include vf-p-inline-list-middot;
@include vf-p-inline-list-stretch;
//navbar
@include vf-p-navigation;
//tables
// @include vf-p-table-expanding;

//nested list
@include vf-p-list-tree;

//additional icons
@include vf-p-icon-topic;
@include vf-p-icon-containers;



body {
  min-height: 100vh;
}

.allow-overflow {
  overflow: visible;
}


.digest {
  display: block;
  width: 100%;
}

.digest>span {
  display: block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.col-labels .label {
  cursor: default;
  background-color: #E6E4E2;
  border-radius: 0.4em;
  padding: 0.1em 0.3em;
  margin: 0.1em;
  line-height: 1.5em;
  font-size: 0.7em;
  float: left;
  max-width: 100%;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

}

.col-labels .label-button:hover {
  filter: brightness(85%);
  cursor: pointer;
}

.col-labels [data-value="amd64"],
.col-labels [data-value="i386"] {
  background-color: #F8CCBC;
}

.col-labels [data-value="arm64"],
.col-labels [data-value="arm"] {
  background-color: #D6BECB;
}

.col-labels [data-value="ppc64le"] {
  background-color: #CABFC6;
}

.col-labels [data-value="High Priority"] {
  background-color: #ffa17f;
}

.col-labels [data-value="Medium Priority"] {
  background-color: #fecebd;
}


.sub-footer-db-stats {
  color: #bbb;
  font-style: italic;
  font-size: small;
}

.empty-state-icon>i {
  height: 80px;
  width: 80px;
}

.promo-tab {
  margin: 0;
  position: fixed;
  right: 10%;
  bottom: 0;
  cursor: pointer;
  z-index: 1000;
  transition: padding-bottom 0.3s ease;
  background-color: #e95620ee !important;
  border-color: #E95420ee !important;
  // font-size: 0.85rem;
  // padding: 0.4rem 0.8rem;
}

.promo-tab:hover,
.promo-tab.hover {
  padding-bottom: 1em;
}

.promo-tab>span {
  margin-right: 1em;
}

.status-icon {
  margin-right: 0.5em;
}

.slice-cell {
  position: relative;
  width: 4em;
  height: 1.5em;
  display: inline-block;
  border-right: 2px solid #ddd;
  color: #0008;
}

.slice-cell__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 0.2em;
}

.slice-cell__label {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.slice-cell__notch {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 8px solid var(--vf-color--background-dark, #262626);
  border-left: 8px solid transparent;
  pointer-events: none;
}

.slice-tooltip {
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  margin-top: 2px;
  padding: 0.2rem 0.4rem;
  background-color: var(--vf-color--background-dark, #262626);
  color: #fff;
  font-size: 0.75rem;
  line-height: 1.2;
  white-space: pre-line;
  overflow-wrap: anywhere;
  border-radius: 2px;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.12s ease;
  pointer-events: none;
  min-width: 8rem;
  max-width: 24rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.slice-cell:hover .slice-tooltip {
  opacity: 1;
  visibility: visible;
}

.release-header {
  width: 4em;
  display: inline-block;
  margin-bottom: 1em;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  transform: rotate(-20deg);
  transform-origin: top right;
}

.slice-row {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 2px solid #ddd;
}

.package-header {
  width: 25%;
  float: left;
  height: 1.5em;
  display: inline-block;
}

.package-cell {
  width: 25%;
  float: left;
  height: 1.5em;
  padding-right: 0.3em;
  border-right: 2px solid #ddd;
  display: inline-block;
}

.package-cell__text {
  height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}