name: Build and deploy dashboard

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # schedule:
  #   - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Dashboard Repository
        uses: actions/checkout@v6


      - name: Restore The Dev Image
        id: cache
        uses: actions/cache/restore@v5
        with:
          key: dev-image-${{ hashFiles('Dockerfile') }}
          path: dev-image.tar

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Build Dashboard
        # env:
        #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          [ -f dev-image.tar ] && touch dev-image.tar
          make -d build-dist
      
      - name: Cache The Dev Image
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache@v5
        with:
          key: dev-image-${{ hashFiles('Dockerfile') }}
          path: dev-image.tar
    
      - name: Upload Artifact
        uses: actions/upload-artifact@v6
        with:
          name: dashboard-dist
          path: dashboard/dist

  deploy:
    name: deploy
    needs: build
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
    steps:
      - name: Checkout Dashboard Repository
        uses: actions/checkout@v6
        with:
          ref: dashboard

      - name: Remove existing files
        run: rm -rf ./*

      - name: Download Artifact
        uses: actions/download-artifact@v7
        with:
          name: dashboard-dist
      
      - name: Push Changes
        run: |
          set -x
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add --all
          git commit -m "Rebuild dashboard at $(date -u +'%Y-%m-%d %H:%M:%S UTC')" || echo "No changes to commit"
          ls
          git push
        