name: Build and deploy dashboard

on:
  push:
    branches:
      - main
  # schedule:
  #   - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:

jobs:
  build-and-deploy-dashboard:
    name: build-and-deploy-dashboard
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Dashboard Repository
        uses: actions/checkout@v6

      - name: Restore The Dev Image
        id: cache
        uses: actions/cache/restore@v5
        with:
          key: dev-image-${{ hashFiles('Dockerfile') }}
          path: dev-image.tar

      - name: Build Dashboard
        if: ${{ github.event_name == 'push' }}
        # env:
        #   GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: make build-dist
      
      - name: Cache The Dev Image
        if: steps.cache.outputs.cache-hit != 'true'
        uses: actions/cache@v5
        with:
          key: dev-image-${{ hashFiles('Dockerfile') }}
          path: dev-image.tar

      - name: Push Dist
        run: |
          # git config --global user.name 'github-actions[bot]'
          # git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git worktree add ./origin-dist dashboard
          rm -rf ./origin-dist/* && cp -r ./dashboard/dist/* ./origin-dist/
          cd ./origin-dist
          git add --all
          git commit -m "Rebuild dashboard at $(date -u +'%Y-%m-%d %H:%M:%S UTC')"
          git push origin HEAD:dashboard
